Node-RED/config/flows.json
[{"id":"3a8faebe.98e2b2","type":"tab","label":"Flow 1"},{"id":"9fe68f0b.456a5","type":"tab","label":"Flow 2"},{"id":"4ed55c1b.17ba94","type":"inject","z":"3a8faebe.98e2b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":390,"y":212,"wires":[["dae047d0.4f8f08"]]},{"id":"dae047d0.4f8f08","type":"debug","z":"3a8faebe.98e2b2","name":"","active":true,"console":"false","complete":"true","x":565,"y":320,"wires":[]},{"id":"b8a705df.d83d38","type":"http in","z":"9fe68f0b.456a5","name":"","url":"/search","method":"get","swaggerDoc":"","x":95,"y":58,"wires":[["e76531b1.1057c"]]},{"id":"b6501d0f.8113e","type":"http response","z":"9fe68f0b.456a5","name":"","x":753,"y":533,"wires":[]},{"id":"e76531b1.1057c","type":"change","z":"9fe68f0b.456a5","name":"","rules":[{"t":"set","p":"payload.query","pt":"msg","to":"{\"match_phrase\":{}}","tot":"json"},{"t":"move","p":"payload.q","pt":"msg","to":"payload.query.match_phrase.title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":296,"y":168,"wires":[["8a91808b.b011d"]]},{"id":"8a91808b.b011d","type":"http request","z":"9fe68f0b.456a5","name":"get/books","method":"POST","ret":"obj","url":"http://localhost:9200/books/_search","tls":"","x":466,"y":279,"wires":[["765ee946.b51ef8"]]},{"id":"765ee946.b51ef8","type":"function","z":"9fe68f0b.456a5","name":"extract titles","func":"msg.payload=msg.payload.hits.hits.map(hit=>hit._source.title)\nreturn msg;","outputs":1,"noerr":0,"x":627,"y":398,"wires":[["b6501d0f.8113e"]]}]